VITE_PUBLIC_TORII_URL=http://localhost:8080
VITE_PUBLIC_NODE_URL=http://localhost:5050
VITE_PUBLIC_WORLD_ADDRESS=0x0
VITE_PUBLIC_DEPLOY_TYPE=dev
VITE_PUBLIC_NAMESPACE=athanor
VITE_PUBLIC_TOKEN_ADDRESS=0x0
