VITE_PUBLIC_TORII_URL=https://api.cartridge.gg/x/athanor-sepolia/torii
VITE_PUBLIC_NODE_URL=https://api.cartridge.gg/x/starknet/sepolia
VITE_PUBLIC_WORLD_ADDRESS=0x0105c803b39505fc491487fd171f22a8dd5f115e7ef74cdde8edc4a255dd4c15
VITE_PUBLIC_DEPLOY_TYPE=sepolia
VITE_PUBLIC_NAMESPACE=ATHANOR
VITE_PUBLIC_TOKEN_ADDRESS=0x00ce6622be39efa11b4a50b7d2e0c342a218bc099bbd313365efe169ef0eb3e2
VITE_PUBLIC_PLAY_ADDRESS=0x05dc7db4e53fc95536c7996f53dbafbc400c1bb241b63785554815b2134aa2bc
